.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  background: aqua;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation a {
  padding: 10px 40px;
  margin: 10px;
  text-decoration: none;
  color: black;
  background: orange;
  border-radius: 4px;
}

.mainPage {
  padding: 20px;
  text-align: left;
}

.mainPage li {
  font-family:'Courier New', Courier, monospace;
  font-weight: 400;
}

.mainPage li a {
  text-decoration: none;
  color: black;
}
